
input{
    padding:10px 8px;
    width: 250px;
    border: none;
    /* border-radius: 5px; */
    outline: none;
    border-bottom: 1px gray solid;
    background-color: transparent;
  
}
 .form-input{
    /* background-color: bisque; */
    /* margin: 10px 2px; */
    padding: 10px 2px;

}
.form-input label{
    width: 200px;
}