.App {
  /* text-align: center; */
  /* display: grid;
  grid-template-columns: auto auto auto;
  gap:10px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .user{
  color: antiquewhite;
} */

table{
  width: 50%;
  border-collapse: collapse;
}
th,td{
  /* background-color: #ffffff; */
  padding: 22px 20px;
 
}
tr:nth-last-child(1){
  border-bottom: 4px #00997a solid;
}
th:nth-child(1){
  border-radius: 20px 0 0 0;
}
th:nth-last-child(1){
  border-radius: 0 20px 0 0;
}
thead{
  background-color: #00997a;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}

tbody tr:nth-child(even){
  background-color: #f3f3f3;
}
tbody tr:nth-child(odd){
  background-color: #ffffff;
}
tbody tr:hover{
  background-color: #f4f4f4;
  color: #00997a;
  /* font-weight: 600; */
}
th{
  text-align: left;
}
.passenger{
  background: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
}
span{
  font-size: 14px;
  font-weight: 500;
}